{% extends 'base.html' %}

{% block body %}

<div class="about-us">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam molestiae neque quisquam aperiam tempore harum, laudantium voluptate. Minima suscipit, iste voluptate maxime recusandae, architecto aliquam accusantium tempora corporis perspiciatis, molestias?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam molestiae neque quisquam aperiam tempore harum, laudantium voluptate. Minima suscipit, iste voluptate maxime recusandae, architecto aliquam accusantium tempora corporis perspiciatis, molestias?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam molestiae neque quisquam aperiam tempore harum, laudantium voluptate. Minima suscipit, iste voluptate maxime recusandae, architecto aliquam accusantium tempora corporis perspiciatis, molestias?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam molestiae neque quisquam aperiam tempore harum, laudantium voluptate. Minima suscipit, iste voluptate maxime recusandae, architecto aliquam accusantium tempora corporis perspiciatis, molestias?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam molestiae neque quisquam aperiam tempore harum, laudantium voluptate. Minima suscipit, iste voluptate maxime recusandae, architecto aliquam accusantium tempora corporis perspiciatis, molestias?
    </p>
</div>

{% endblock %}
