<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Zarek Insurance, Inc. Offering competitive rates for Car insurance, Home Insurance, Business Insurance, and Life insurance. 124 E Chestnut Street Burlington WI">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111609764-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-111609764-1');
    </script>


    <link rel="stylesheet" href="static/css/grids.css">
    <script src="https://use.fontawesome.com/a01f837deb.js"></script>
    <link rel="shortcut icon" href="static/images/zarek_insurance_logo_icon_medium.png"/>

    <!-- Custom stylesheets -->
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="static/css/contact.css">
    <link rel="stylesheet" href="static/css/about_us.css">

    <title>Zarek Insurance | Insurance Agency Burlington WI</title>
</head>
<body>

    <header>
        <div class="pure-g">
            <div class="pure-u-1-6 pure-u-sm-1-2">
                <div class="header-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/about_us">About Us</a></li>
                    </ul>
                </div>
                <div class="dropdown-menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
            </div>
            <div class="pure-u-5-6 pure-u-sm-1-2">
                <div class="header-call-button">
                    <a href="tel:1-262-763-8421">
                        <div>
                            Call Now for a Free Quote! <br/>1-262-763-8421
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="dropdown-list">
            <ul>
                <li>Home<a href="/"></a></li>
                <li>Contact<a href="/contact"></a></li>
                <li>About Us<a href="/about_us"></a></li>
            </ul>
        </div>
    </header>

    {% block body %}

    {% endblock %}

    <footer>
        <img class="header-footer-logo" src="static/images/zarek_insurance_logo_icon_medium.png" alt="Zarek Insurance Burlington WI">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-2">
                <div class="pure-g">
                    <div class="pure-u-1-2">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/about_us">About Us</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="pure-u-1-2">
                        <ul>
                            <li><strong>Zarek Insurance, Inc.</strong></li>
                            <li>124 E. Chestnut Street</li>
                            <li>Burlington WI 53105</li>
                        </ul>

                        <ul>
                            <li class="call-button">
                                <a href="tel:1-262-763-8421">
                                    <strong>Ph:</strong>(262) 763-8421
                                </a>
                            </li>
                            <li>
                                <strong>Fax:</strong>(262) 763-3503
                            </li>
                        </ul>

                        <ul>
                            <li><strong>Office Hours</strong></li>
                            <li>Monday - Friday</li>
                            <li>8:30 AM to 5:00 PM</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.114210881992!2d-88.27920168490833!3d42.680122979166704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880584db62f3c859%3A0x653cc5ed514d0495!2sZarek+Insurance%2C+Inc.!5e0!3m2!1sen!2sus!4v1513361713743" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </footer>


<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.marquee.min.js"></script>
<script src="static/js/marquee.js"></script>
<script src="static/js/dropDownMenu.js"></script>
<script src="static/js/track.js"></script>

</body>
</html>
