{% extends 'base.html' %}

{% block body %}

<div class="logo">
    <div>
        <img src="static/images/zarek_insurance_logo.png" alt="Zarek Insurance | Insurance Agency Burlington WI. We don't just sell insurance, we build relationships.">
        <h1>Zarek Insurance, Inc.</br>Providing Insurance for Burlington Wisconsin and all of the MidWest.</h1>
    </div>
</div>

<div class="carriers">

    <h3>Some Of Our Top Carriers:</h3>

    <div class="marquee">
        <img src="static/images/logos/erie_insurance.jpeg" alt="Erie Insurance">
        <img src="static/images/logos/west_bend.jpg" alt="West Bend Mutual">
        <img class="emc" src="static/images/logos/emc.jpg" alt="EMC Insurance">
        <img src="static/images/logos/wilson_mutual.jpg" alt="Wilson Mutual">
        <img src="static/images/logos/badger_mutual.png" alt="Badger Mutual Insurance">
        <img src="static/images/logos/auto-owners.png" alt="Auto-owners Insurance">
        <img src="static/images/logos/dairyland.png" alt="Dairyland Insurance">
        <img src="static/images/logos/MetLife.png" alt="MetLife">
        <img src="static/images/logos/imt_insurance.gif" alt="IMT Insurance">
        <img src="static/images/logos/frankenmuth.png" alt="Frankenmuth Insurance">
        <img src="static/images/logos/motorists_insurance_group.png" alt="Motorists Insurance Group">
        <img src="static/images/logos/donegal.jpg" alt="Donegal Insurance Group">
        <img class="progressive" src="static/images/logos/progressive.png" alt="Progressive Insurance">
    </div>
</div>

<div class="insurance-rates">
    <h3>At Zarek Insurance, We Offer Competitive Rates For:</h3>
    <div class="pure-g">
        <div class="car-insurance pure-u-1 pure-u-sm-1-2" title="Car Insurance">
            <p>Car Insurance</p>
        </div>
        <div class="home-insurance pure-u-1 pure-u-sm-1-2" title="Home Insurance">
            <p>Home Insurance</p>
        </div>
        <div class="business-insurance pure-u-1 pure-u-sm-1-2" title="Business Insurance">
            <p>Business Insurance</p>
        </div>
        <div class="life-insurance pure-u-1 pure-u-sm-1-2" title="Life Insurance">
            <p>Life Insurance</p>
        </div>
    </div>

    <div>
        <h4>
            As Well As:
        </h4>
        <ul>
            <li>Boats</li>
            <li>Jet Skis</li>
            <li>Cycles</li>
            <li>ATVs</li>
            <li>Snowmobiles</li>
        </ul>
    </div>
</div>

{% endblock %}
