@import 'variables';

.about-us {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px;

    h2 {
        font-size: 40px;
        line-height: 60px;
        text-align: center;

        @media (max-width: $xs) {
            margin: 0 0 20px;
        }
    }

    p {
        font-size: 20px;
        line-height: 30px;
    }

    div {
        float: right;
        margin: 0 60px;
        text-align: center;

        @media (max-width: $xs) {
            float: none;
            margin: 0;
        }
    }
}
