@import 'variables';


body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $light;

    &:hover {
        color: $silver;
        text-decoration: none;
    }
}

iframe {
    width: 100%
}

.call-button {
    margin: 0 0 8px 0;

    a {
        border: 3px solid $lightSilver;
        border-radius: 12px;
        margin: 0 0 0 -8px;
        padding: 8px;
    }
}

header {
    background-color: $dark;
    color: $light;
    padding: 4px 32px;

    div {
        margin: 8px 0;

        .header-menu {
            margin: auto;

            @media (max-width: $xs) {
                display: none;
            }
        }

        .header-call-button {
            font-size: 25px;
            margin: 0;
            text-align: right;

            @media (max-width: $xs) {
                text-align: center;
                width: 100%
            }

            a {

                div {
                    border: 3px solid $maroon;
                    border-radius: 12px;
                    color: $light;
                    display: inline-block;
                    padding: 8px;

                    &:hover {
                        background-color: $maroon;
                        color: $dark;
                    }
                }
            }
        }
    }

    ul {
        list-style-type: none;

        li {
            display: inline-block;
            padding: 0 16px;
        }
    }
}

footer {
    background-color: $dark;
    color: $light;
    padding: 60px 20px;

    .footer-menu {
        margin: 0 0 0 40px;
    }

    ul {
        font-weight: 300;
        list-style-type: none;
        margin: 0 0 24px;

        li {
            margin: 8px 0;
            padding: 8px 0;

            &.call-button {

                a:hover {
                    background-color: $light;
                    color: $dark;
                }
            }
        }
    }
}
