@import 'variables';



body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $light;

    &:hover {
        color: $silver;
        text-decoration: none;
    }
}

iframe {
    width: 100%
}

header {
    background-color: $dark;
    color: $light;
    padding: 4px 32px;

    div {
        margin: 8px 0;

        div {

            &:first-child {
                margin: auto;

                @media (max-width: $xs) {
                    display: none;
                }
            }

            &:nth-child(2) {
                font-size: 25px;
                text-align: right;

                @media (max-width: $xs) {
                    text-align: center;
                    width: 100%
                }
            }
        }
    }

    ul {
        list-style-type: none;

        li {
            display: inline-block;
            padding: 0 16px;
        }
    }
}

footer {
    background-color: $dark;
    color: $silver;
    padding: 60px 20px;

    .footer-menu {
        margin: 0 auto;
        width: 50%;

        @media (max-width: $sm) {
            text-align: center;
            width: 100%;
        }
    }

    ul {
        font-weight: 300;
        list-style-type: none;
        margin: 0 0 24px;

        li {
            margin: 8px 0;
            padding: 8px 0;
        }
    }
}
