@import 'variables';

.logo {
    background: $lightSilver;
    padding: 60px 0;

    @media (max-width: $xs) {
        padding: 16px 0;
    }

    div {
        margin: 0 auto;
        max-width: 960px;
        text-align: center;
    }

    img {
        margin: 0 auto;
        max-width: 100%;
        max-height: 90%;

        @media (max-width: $xs) {
            max-width: 100%;
        }
    }

    h1 {
        font-size: 58px;
        line-height: 125px;
        margin: 70px 0;
        text-align: center;

        @media (max-width: $xs) {
            font-size: 32px;
            line-height: 60px;
        }
    }
}

.carriers {

    margin: 40px 0 24px;

    h3 {
        font-size: 32px;
        margin: 80px;
        text-align: center;

        @media (max-width: $sm) {
            font-size: 24px;
        }
    }

    .marquee {
        overflow: hidden;
        height: 120px;
        width: 100%;

        @media (max-width: $sm) {
            max-height: 70px;
        }

        img {
            margin: 0 24px;
            vertical-align: middle;
            max-height: 80px;

            @media (max-width: $sm) {
                max-height: 50px;
            }

            &.emc {
                max-height: 60px;

                @media (max-width: $sm) {
                    max-height: 40px;
                }
            }

            &.progressive {
                max-height: 35px;

                @media (max-width: $sm) {
                    max-height: 20px;
                }
            }
        }
    }
}

.insurance-rates {
    background-color: $lightSilver;
    text-align: center;
    padding: 100px 0;

    @media (max-width: $sm) {
        padding: 60px 0;
    }

    h3 {
        font-size: 32px;
        line-height: 40px;
        margin: 40px 40px 100px;

        @media (max-width: $sm) {
            font-size: 24px;
            margin: 40px 40px 60px;
        }
    }

    div {

        @mixin foo($url) {
            background: no-repeat url($url) 50% 50%;
            background-size: cover;
            height: 400px;
        }

        &.car-insurance {
            @include foo('../images/car_insurance.jpg');
        }

        &.home-insurance {
            @include foo('../images/home_insurance.jpg');
        }

        &.business-insurance {
            @include foo('../images/business_insurance.jpg');
        }

        &.life-insurance {
            @include foo('../images/life_insurance.jpg');
        }

        p {
            color: $light;
            font-size: 56px;
        }
    }

    h4 {
        font-size: 24px;
        margin: 40px 0 0;
    }

    li {
        font-size: 24px;
        font-weight: 600;
        padding: 4px;
    }
}
